package ${cfg.controllerPackage};

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import ${cfg.commonPackage}.*;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * @Package: ${cfg.controllerPackage}
 * @Description: <$!{table.comment}前端控制器>
 * @Author: ${author}
 * @CreateDate: ${date}
 * @UpdateUser: ${author}
 * @UpdateDate: ${date}
 * @UpdateRemark: <>
 * @Version: 1.0
 */
#set($path=${table.name})
#set($path=$path.concat("path"))
@RestController
@Api(tags = "$!{table.comment}-相关接口")
@RequestMapping(value = "${cfg.get($path)}", produces = MediaType.APPLICATION_JSON_VALUE)
public class ${table.controllerName} {
    @Autowired
    private ${table.serviceName} i${table.serviceName};


    @GetMapping("page")
    @ApiOperation(value = "$!{table.comment}分页查询")
    public ResponseMsg<Page<${entity}>> list${table.serviceName}ByPage(QueryReq<${entity}> req) {
        Page<${entity}> pageRes = i${table.serviceName}.page(req.getPage());
        if(pageRes == null){
            return  ResponseMsg.ok(new Page());
        }else{
            return  ResponseMsg.ok(pageRes);
        }
    }

    @GetMapping("{id}")
    @ApiOperation(value = "$!{table.comment}获取某一实体")
    public ResponseMsg<${entity}> get${table.serviceName}Details(@PathVariable Long id) {
        return ResponseMsg.ok(i${table.serviceName}.getById(id));
    }

    @PostMapping
    @ApiOperation(value = "$!{table.comment}新增数据")
    public ResponseMsg<String> save${table.serviceName}(@RequestBody ${entity} req) {
        if(i${table.serviceName}.save(req)){
            return ResponseMsg.ok("新增数据成功");
        }else{
             return ResponseMsg.failed("新增数据失败");
        }
    }

    @PostMapping("{id}")
    @ApiOperation(value = "$!{table.comment}修改数据")
    public ResponseMsg<String> modify${table.serviceName}(@RequestBody ${entity} req) {
        if(i${table.serviceName}.updateById(req)){
            return ResponseMsg.ok("操作成功");
        }else{
            return ResponseMsg.failed("操作失败");
        }
    }

    @PostMapping("batch")
    @ApiOperation(value = "$!{table.comment}批量删除数据")
    public ResponseMsg<String> batchRemove${table.serviceName}(@RequestParam(value = "ids") List<String> ids) {
        if(i${table.serviceName}.removeByIds(ids)){
            return ResponseMsg.ok("批量删除成功");
        }else{
            return ResponseMsg.failed("批量删除失败");
        }
    }

    @PostMapping("{id}")
    @ApiOperation(value = "$!{table.comment}删除数据")
    public ResponseMsg<String> remove${table.serviceName}(@PathVariable String id) {
        if(i${table.serviceName}.removeById(id)){
            return ResponseMsg.ok("批量删除成功");
        }else{
            return ResponseMsg.failed("批量删除失败");
        }
    }
}