<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sac.newmodule3.mapper.ShopOrderMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sxl.newmodule3.entity.ShopOrder">
        <id column="id" property="id"/>
        <result column="mount" property="mount"/>
        <result column="status" property="status"/>
        <result column="importance" property="importance"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mount, status, importance, creator, modifier, gmt_create, gmt_modified, is_deleted
    </sql>

</mapper>
